
$primary: #5885ff;
$danger: rgb(255, 0, 0);

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
body {
    background-color: rgba(136, 203, 207, 0.945);
}
